<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Para o mês atual, existem</h5>
        <ul>
          <li><strong>Dias úteis: </strong>123</li>
          <li><strong>Feriados: </strong>123</li>
          <li><strong>Semanas (segunda até sexta ou final do mês): </strong>123</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Portanto para este mês você já cumpriu</h4>
        <ul>
          <li><strong>Dias úteis: </strong>123</li>
          <li><strong>Horas trabalhadas (até o momento): </strong>123</li>
          <li>
            <strong>Segunda: </strong>123 | 
            <strong>Terça: </strong>123 | 
            <strong>Quarta: </strong>123 | 
            <strong>Quinta: </strong>123 | 
            <strong>Sexta: </strong>123 
            <strong>Sábado: </strong>123
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->